.vscode/
npm-debug.log

app/**/*.js
**/*.js.map
!app/shared/everlive.all.min.js
hooks/
lib/
!/lib/iOS/TelerikAppFeedback.framework/Info.plist
!/lib/iOS/TelerikUI.framework/Info.plist
!/lib/iOS/TNSWidgets.framework/Info.plist
node_modules/

/platforms/*

tmp/
typings/
*.orig

.DS_Store

app/app\.android\.css

app/app\.ios\.css
