<!--<ActionBar title="Cam Test Capture" class="action-bar">
	<ActionItem (tap)="test()" ios.systemIcon="15" ios.position="right" android.systemIcon="ic_menu_camera" text="Capture" android.position="actionBar"></ActionItem>
</ActionBar>-->
<GridLayout>
	<GridLayout rows="*, auto, *" columns="*, auto, *">
		<StackLayout row="1" col="1" >
			<Button text="Text Example" class="btn btn-active btn-primary" (tap)="goToText()"></Button>
			<Button text="Bubble Example" class="btn btn-active btn-primary" (tap)="goToBubble()"></Button>
			<Button text="Vertical Bubble Example" class="btn btn-active btn-primary" (tap)="goToVerticalBubble()"></Button>
		</StackLayout>
	</GridLayout>
</GridLayout>